@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700; 800&display=swap');

* {
   margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 400;
    background: #fff;
}

img{max-width: 100%}

a {
    color: #4482ff;
    text-decoration: none;
    transition: all 600ms ease;
}

a:hover {
    color: #8bddff;
    transition: all 600ms ease;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
}

@media(max-width: 900px) {  /*адаптивность экрана*/
    .container {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }
}

header > .top-menu {
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    color: #4e4c4c;
    text-transform: uppercase;
}

header > .top-menu > .nav a {
    color: #4e4c4c;
    margin-right: 10px;
}

header > .top-menu > .nav a:hover {
    color: #b1c2de;
}



header {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.logo span {
    float: left;
    font-size: 21px;
    font-weight: 500;
    display: block;
    width: 250px;
    margin-top: 15px;
}

.btn {
    width: 200px;
    height: 40px;
    background: #e71919;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 600ms ease;
    margin-top: 20px;
}
 .error {
     color: #ff5644;
     font-weight: 600;
     margin-top: 10px;
 }


/*header .btn.auth {
    width: 100px;
    background: #ff5644;
}

header .btn.basket {
    width: 95%;
    background: #fff;
    color: #333;
    margin-bottom: 10px;
    border: 1px solid #333;
}*/

.btn:hover {
    transition: all 600ms ease;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 10px 20px -2px rgba(0,0,0,0.3);
}



.main {
    margin-top: 50px;
   /* align-items: center;*/
    /*justify-content: space-between;*/
    width: 400px;
    margin-left: 250px;

}

.main p {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.main h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.main input {
    width: 100%;
    background: #fcfcfc;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}



footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer > .social > i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background: silver;
    margin-left: 5px;
    cursor: pointer;
    color: #333;
    transition: all 600ms ease;
}

footer > .social > i:hover {
    transition: all 600ms ease;
    transform: translateY(-5px);
}



